@charset "utf-8";

body {
 width: 400px;
 height: 450px;
 font-size: small;
}

.header {
 height: 100px;
 background-color: #ff0000;
}

.clearfix::after {
 content: "";
 display: block;
 clear: both;
}

.main1 {
 width: 150px;
 height: 250px;
 background-color: #00ff51;
 float: left;
}

.main2 {
 width: 100px;
 height: 150px;
 background-color: #ff9e6b;
 float: right;
}

.main3 {
 width: 150px;
 height: 50px;
 background-color: #cc00db;
 float: right;
}

.main4 {
 width: 150px;
 height: 100px;
 background-color: #0093b7;
 float: right;
}

.main5 {
 width: 250px;
 height: 100px;
 background-color: #8c2727;
 float: right;
}

.footer {
 height: 100px;
 background-color: #fff700;
}